@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body{
  margin : 0;
  padding : 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Icône de chat en haut à gauche */
#chat-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #007BFF;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;     
  opacity: 0.8;  
}
/* Fenêtre de chat */
#chat-window {
  position: fixed;
  top: 60px;
  left: 10px;
  width: 300px;
  padding: 10px;
  background-color: rgba(241, 241, 241, 1);
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0;           /* Invisible par défaut */
  pointer-events: none; /* Désactive les interactions quand c'est invisible */
  transition: opacity 0.5s ease; /* Transition de 0.5s pour l'opacité */
}

/* Classe active pour afficher la fenêtre de chat */
#chat-window.active {
  opacity: 0.8;         /* Opacité finale souhaitée */
  pointer-events: auto; /* Réactive les interactions */
}
#chat-input {
  width: 95%;
  padding: 5px;
  font-size: 16px;
  opacity: 0.8;
}